doctype html
html

  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")

  body
    .container
      div
        h1 Welcome
